body {background: url('grey_wash_wall.png')}

.hidden {
	display: none
}

.main {
	width: 80%;
	max-width: 780px;
	min-height: 430px;
	margin: 15px auto;
	border: 1px solid #efefef;
	background: #F5F5F5;
	box-shadow: 0 4px 4px rgba(0,0,0,.44);
	padding: 10px 20px;
	position: relative
}

.row-form {
	display: inline-block;
	width: 50%;
	position: relative;
	height: 70px;
	margin-top: 25px
}

h1 {
	text-shadow: 0 1px 2px rgb(75, 72, 72);
	background: rgb(114, 185, 86);
	padding: 5px 10px;
	color: white;
	border: 1px solid rgb(16, 168, 10);
}

form {
	border: 1px solid #CECECE;
	background: #EBEBEB;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.09);
	padding: 0 10px
}

form h2 {
	font-family: Georgia;
	font-style: italic;
	font-size: 1.1em;
	color: #222;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45)
}

label {
	text-align: center;
	display: block;
}

input[type="radio"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

/* Aspect des checkboxes */  
/* :before sert à créer la case à cocher */  
[type="radio"]:not(:checked) + label:before,  
[type="radio"]:checked + label:before {  
  content: '';  
  position: absolute; 
  top: 0; 
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;  
  width: 17px; height: 17px; /* dim. de la case */  
  border: 1px solid #aaa;  
  background: #f8f8f8;  
  border-radius: 3px; /* angles arrondis */  
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */  
}  
   
/* Aspect général de la coche */  
[type="radio"]:not(:checked) + label:after,  
[type="radio"]:checked + label:after {  
  content: '✔';  
  position: absolute;  
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;  
  font-size: 19px;
  color: #09ad7e;
  transition: all .2s;
  top: 25px; 
}  
/* Aspect si "pas cochée" */  
[type="radio"]:not(:checked) + label:after {  
  opacity: 0; /* coche invisible */  
  transform: scale(0); /* mise à l'échelle à 0 */  
}  
/* Aspect si "cochée" */  
[type="radio"]:checked + label:after {  
  opacity: 1; /* coche opaque */  
  transform: scale(1); /* mise à l'échelle 1:1 */  
}  

/* aspect désactivée */  
[type="radio"]:disabled:not(:checked) + label:before,  
[type="radio"]:disabled:checked + label:before {  
  box-shadow: none;  
  border-color: #bbb;  
  background-color: #ddd;  
}  
/* styles de la coche (si cochée/désactivée) */  
[type="radio"]:disabled:checked + label:after {  
  color: #999;  
}  
/* on style aussi le label quand désactivé */  
[type="radio"]:disabled + label {  
  color: #aaa;  
}  
   
/* aspect au focus de l'élément */  
[type="radio"]:checked:focus + label:before,  
[type="radio"]:not(:checked):focus + label:before {  
  border: 1px dotted blue;  
}  

#canvas{
	-webkit-transform: rotate(-90deg);
	position: absolute;
	top: 85px;
	right: 0;
	margin-right: -213px;
}

.alert {
	background: rgb(250, 44, 44);
	padding: 5px 10px;
	border: 1px solid red;
	color: white
}

.alert.success {
	background: rgb(91, 190, 25);
	border: 1px solid rgb(7, 165, 20)
}

#video{
	margin-left: 31%;
	margin-bottom: 3%;
}